

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.trans, #header, #header #user-links li a, #header #user-links li a span, #header #main-nav ul.navigation_list > li a, #header #main-nav ul.navigation_list > li a:after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.fa, #header #main-nav ul.navigation_list > li.dropdown > a:after {
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

#header {
  position: relative;
  top: 0;
  background: black;
  width: 100%;
  padding: 0;
  z-index: 10;
}
#header .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
#header #logo {
  position: absolute;
  left: 0;
  width: 245px;
  height: 60px;
  margin: 15px 0 15px 50px;
  z-index: 2;
}
#header #logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/images/images/logo.png') no-repeat center center;
  background-size: contain;
  text-indent: -9999px;
}
#header #user-links {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}
#header #user-links li {
  display: inline-block;
  float: left;
}
#header #user-links li a {
  display: block;
  font-size: 28px;
  padding: 29px 8px 29px 12px;
  line-height: 1;
  color: #fff;
}
#header #user-links li a span {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 1.2;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
#header #user-links li a:hover span {
  height: 18px;
}
#header #user-links li:nth-of-type(1) a span {
  width: 69px;
  height: 18px;
}
#header #user-links li:nth-of-type(2) a {
  background: #981984;
}
#header #user-links li:nth-of-type(3) a {
  background: #006ebb;
}
#header #user-links:hover li a span {
  width: 0;
}
#header #user-links:hover li a:hover span {
  height: 18px;
}
#header #user-links:hover li:nth-of-type(1) a:hover span {
  width: 152px;
}
#header #user-links:hover li:nth-of-type(2) a:hover span {
  width: 107px;
}
#header #user-links:hover li:nth-of-type(3) a:hover span {
  width: 113px;
}
#header #main-nav {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
}
#header #main-nav ul.navigation_list {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
#header #main-nav ul.navigation_list > li {
  position: relative;
  display: inline-block;
}
#header #main-nav ul.navigation_list > li a {
  display: block;
  padding: 37px 9px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  position: relative;
}
#header #main-nav ul.navigation_list > li a:after {
  margin: 0 0 0 4px;
  color: #006ebb;
}
#header #main-nav ul.navigation_list > li:hover > a, #header #main-nav ul.navigation_list > li.active > a {
  text-decoration: none;
  background: #006ebb;
}
#header #main-nav ul.navigation_list > li:hover > a:after {
  color: #fff;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#header #main-nav ul.navigation_list > li.active > a {
  border-color: #ac1991;
  background: #981984;
}
#header #main-nav ul.navigation_list > li > ul {
  display: none;
}
#header #main-nav ul.navigation_list > li.dropdown > a:after {
  display: inline-block;
  content: '\f078';
}
#header #main-nav ul.navigation_list > li.dropdown:hover > ul.dropdown-menu {
  padding: 0;
  display: block;
  border: 0;
  background: #1b1b1b;
}
#header #main-nav ul.navigation_list > li.dropdown:hover > ul.dropdown-menu li {
  float: none;
}
#header #main-nav ul.navigation_list > li.dropdown:hover > ul.dropdown-menu li a {
  color: #fff;
  padding: 10px 25px;
  font-weight: 600;
}
#header #main-nav ul.navigation_list > li.dropdown:hover > ul.dropdown-menu li.active > a {
  background: #981984;
  color: #fff;
}
#header #main-nav ul.navigation_list > li.dropdown:hover > ul.dropdown-menu li:hover a {
  background: #006ebb;
  color: #fff;
}
#header #main-nav ul.navigation_list > li.dropdown:hover > ul.dropdown-menu li.dropdown:hover > ul.dropdown-menu {
  display: block;
  left: 100%;
  top: 0;
}
#header #main-nav .dropdown-menu {
  border: 0;
  padding: 0;
}
#header.intro {
  opacity: 0;
}
@media (max-width: 1399px) {
  #header #logo {
    margin: 5px 0 5px 15px;
    width: 165px;
  }
  #header #main-nav {
    font-size: 11px;
    font-size: 1.1rem;
  }
  #header #main-nav ul.navigation_list > li a {
    padding: 30px 5px;
  }
  #header #main-nav ul.navigation_list > li.dropdown:hover > ul.dropdown-menu {
    font-size: 11px;
  }
  #header #user-links li a {
    font-size: 20px;
  }
  #header #user-links li a {
    padding: 25px 5px 26px 7px;
  }
  #header #user-links li a span {
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 1px;
  }
  #header #user-links li:nth-of-type(1) a span {
    width: 100px;
  }
  #header #user-links:hover li a span {
    width: 0;
  }
  #header #user-links:hover li a:hover span {
    height: 18px;
  }
  #header #user-links:hover li:nth-of-type(1) a:hover span {
    width: 100px;
  }
  #header #user-links:hover li:nth-of-type(2) a:hover span {
    width: 75px;
  }
  #header #user-links:hover li:nth-of-type(3) a:hover span {
    width: 80px;
  }
}
@media (max-width: 991px) {
  #header #logo {
    width: 220px;
  }
}
@media (max-width: 768px) {
  #header #logo {
    width: 180px;
  }
}
