

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
  text-align: left;
  background: #fff;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
body > div {
  position: relative;
}
body > div.mm-page {
  overflow: hidden;
}
body:before, body:after {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.trans *, .trans *:after, .trans *:before {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.fa, #header #main-nav .navigation_list > li.dropdown > a:after {
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

#header {
  position: relative;
  top: 0;
  background: black;
  width: 100%;
  padding: 0;
  z-index: 10;
}
#header .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
#header #logo {
  position: absolute;
  left: 0;
  width: 245px;
  height: 60px;
  margin: 15px 0 15px 50px;
  z-index: 2;
}
#header #logo a {
  display: block;
  width: 100%;
  height: 80%;
  background: url('../img/logo.png') no-repeat center center;
  background-size: contain;
  text-indent: -9999px;
}
#header #user-links {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 2;
  max-height: 100%;
  overflow: hidden;
}
#header #user-links li {
  display: inline-block;
  float: left;
}
#header #user-links li a {
  display: block;
  font-size: 28px;
  padding: 29px 8px 29px 12px;
  line-height: 1;
  color: #fff;
}
#header #user-links li a span {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 1.2;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
#header #user-links li a:hover span {
  height: 18px;
}
#header #user-links li:nth-of-type(1) a span {
  width: 69px;
  height: 18px;
}
#header #user-links li:nth-of-type(2) a {
  background: #981984;
  /* height: 100%; */
}
#header #user-links li:nth-of-type(3) a {
  background: #006ebb;
}
#header #user-links:hover li a span {
  width: 0;
}
#header #user-links:hover li a:hover span {
  height: 18px;
}
#header #user-links:hover li:nth-of-type(1) a:hover span {
  width: 152px;
}
#header #user-links:hover li:nth-of-type(2) a:hover span {
  width: 107px;
}
#header #user-links:hover li:nth-of-type(3) a:hover span {
  width: 113px;
}
#header #main-nav {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 100%;
  font-size: 0;
}
#header #main-nav .navigation_list {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
#header #main-nav .navigation_list > li {
  position: relative;
  display: inline-block;
}
#header #main-nav .navigation_list > li a {
  display: block;
  padding: 37px 9px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 14px;
  font-size: 1.4rem;
}
#header #main-nav .navigation_list > li a:after {
  margin: 0 0 0 4px;
  color: #006ebb;
}
#header #main-nav .navigation_list > li:hover > a, #header #main-nav .navigation_list > li.active > a {
  text-decoration: none;
  background: #006ebb;
}
#header #main-nav .navigation_list > li:hover > a:after {
  color: #fff;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#header #main-nav .navigation_list > li.active > a {
  border-color: #ac1991;
  background: #981984;
}
#header #main-nav .navigation_list > li > ul {
  display: none;
}
#header #main-nav .navigation_list > li.dropdown > a:after {
  display: inline-block;
  content: '\f078';
}
#header #main-nav .navigation_list > li.dropdown:hover > ul.dropdown-menu {
  padding: 0;
  display: block;
  border: 0;
  background: #1b1b1b;
  margin-top: 0px;
}
#header #main-nav .navigation_list > li.dropdown:hover > ul.dropdown-menu li {
  float: none;
}
#header #main-nav .navigation_list > li.dropdown:hover > ul.dropdown-menu li a {
  color: #fff;
  padding: 10px 25px;
  font-weight: 600;
}
#header #main-nav .navigation_list > li.dropdown:hover > ul.dropdown-menu li.active > a {
  background: #981984;
  color: #fff;
}
#header #main-nav .navigation_list > li.dropdown:hover > ul.dropdown-menu li:hover a {
  background: #006ebb;
  color: #fff;
}
#header #main-nav .navigation_list > li.dropdown:hover > ul.dropdown-menu li.dropdown:hover > ul.dropdown-menu {
  display: block;
  left: 100%;
  top: 0;
}
#header #main-nav .dropdown-menu {
  border: 0;
  padding: 0;
}
#header.intro {
  opacity: 0;
}
@media (max-width: 1399px) {
  #header #logo {
    margin: 5px 0 5px 15px;
    width: 165px;
  }

  #header #main-nav .navigation_list > li.dropdown:hover > ul.dropdown-menu {
    font-size: 11px;
  }
  #header #user-links li a {
    font-size: 20px;
  }
  #header #user-links li a {
    padding: 27px 5px 27px 7px;
  }
  #header #user-links li a span {
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 1px;
  }
  #header #user-links:hover li a span {
    width: 0;
  }
  #header #user-links:hover li a:hover span {
    height: 18px;
  }
  #header #user-links:hover li:nth-of-type(1) a:hover span {
    width: 100px;
  }
  #header #user-links:hover li:nth-of-type(2) a:hover span {
    width: 75px;
  }
  #header #user-links:hover li:nth-of-type(3) a:hover span {
    width: 80px;
  }
}
@media (max-width: 991px) {
  #header #logo {
    width: 220px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
  }
  #utility-nav{
    display: inline-block !important;
    font-size: 21px;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 100%;
    padding: 17px;
    float: right;
    margin-top: 10px;
    font-size: 30px;
  }
  #utility-nav a{
    color: #fff;
  }
}
@media (max-width: 768px) {
  #header #logo {
    width: 180px;
  }
}
 /*main-banner*/
 #main-banner{
  position: relative;
  width: 100%;
  background: #f8f8f8;
  height: 700px; }
  #main-banner > figure {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;}
    #main-banner > figure img, #sub-banner > figure img, #global-banner > figure img {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: .6;
      object-fit: cover; }
  #main-banner > article, #sub-banner > article, #global-banner > article {
    position: absolute;
    z-index: 1;
    top: 30px;
    width: 60%;
    left: 50px; }
    #main-banner > article h1, #sub-banner > article h1, #global-banner > article h1 {
      font-family: "Raleway", sans-serif;
      font-size: 80px;
      font-size: 8rem;
      font-weight: 800;
      color: #fff;
      margin: 0 0 80px;
      text-transform: uppercase;
      line-height: 1.1;
      letter-spacing: 0px; }
      #main-banner > article h1 strong, #sub-banner > article h1 strong, #global-banner > article h1 strong {
        color: #981984;
        font-weight: 800; }
    #main-banner > article p, #sub-banner > article p, #global-banner > article p {
      font-family: "Raleway", sans-serif;
      font-size: 25px;
      font-size: 2.5rem;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.1;
      letter-spacing: 4px; }
      #main-banner > article p strong, #sub-banner > article p strong, #global-banner > article p strong {
        color: #981984;
        font-weight: 800; }
  #main-banner > aside, #sub-banner > aside, #global-banner > aside {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    width: 100%;
    max-width: 1400px;
    left: 50px; }
    #main-banner > aside > form ::-webkit-input-placeholder, #sub-banner > aside > form ::-webkit-input-placeholder, #global-banner > aside > form ::-webkit-input-placeholder {
      color: #fff; }
    #main-banner > aside > form :-moz-placeholder, #sub-banner > aside > form :-moz-placeholder, #global-banner > aside > form :-moz-placeholder {
      color: #fff; }
    #main-banner > aside > form ::-moz-placeholder, #sub-banner > aside > form ::-moz-placeholder, #global-banner > aside > form ::-moz-placeholder {
      color: #fff; }
    #main-banner > aside > form :-ms-input-placeholder, #sub-banner > aside > form :-ms-input-placeholder, #global-banner > aside > form :-ms-input-placeholder {
      color: #fff; }
    #main-banner > aside > form dl dd{
      display: inline-block;
      vertical-align: top; }
    #main-banner > aside > form dl dd.input {
      width: 45%; }
    #main-banner > aside > form dl dd.actions {
      width: 9%; }
    #main-banner > aside > form dl input{
      width: 90%;
      padding: 8px 0 8px 15px;
      background: transparent;
      text-transform: uppercase;
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      font-size: 2rem;
      letter-spacing: 2px;
      outline: none;
          text-shadow: 2px 2px 3px rgba(0,0,0,.5);
      border: 0;
      border-bottom: 2px solid #fff; }
    #main-banner > aside > form dl button{
      background: transparent;
      border: 0;
      font-size: 24px;
      padding: 5px 12px 6px;
      border-bottom: 1px solid transparent;
      color: #fff; }
      #main-banner > aside > form dl button:hover{
        border-color: #fff;
        color: #981984; }
    #main-banner > aside > form dl dd.input:nth-of-type(1) input:focus{
      border-color: #981984; }
    #main-banner > aside > form dl dd.input:nth-of-type(2) input:focus{
      border-color: #006ebb; }
    #main-banner > aside > a, #sub-banner > aside > a {
      display: block;
      font-family: "Raleway", sans-serif;
      letter-spacing: 5px;
      padding: 10px 15px;
      font-size: 22px;
      font-size: 2.2rem;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600; }
      #main-banner > aside > a i, #sub-banner > aside > a i {
        float: right;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 300; }
      #main-banner > aside > a:after, #sub-banner > aside > a:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.5);
        margin: 15px 0 0; }
  @media (max-width: 1399px) {
    #main-banner > article h1, #sub-banner > article h1 {
      font-size: 60px;
      font-size: 6rem; }
    #main-banner > aside, #sub-banner > aside{
      width: calc(100% - 100px); } }
  @media (max-width: 991px) {
    #main-banner > aside > form dl dd, #sub-banner > aside > form dl dd{
      width: 100% !important; }
    #main-banner > aside > form dl input, #sub-banner > aside > form dl input, #global-banner > aside > form dl input {
      font-size: 18px;
      font-size: 1.8rem;
      letter-spacing: 0px;
      width: 100%; } }
  @media (max-width: 767px) {
    #main-banner > article, #sub-banner > article, #global-banner > article {
      width: initial;
      left: 15px;
      right: 15px; }
      #main-banner > article h1, #sub-banner > article h1, #global-banner > article h1 {
        font-size: 20px;
        font-size: 2rem;
        margin: 0 0 25px; }
      #main-banner > article p, #sub-banner > article p, #global-banner > article p {
        font-size: 16px;
        font-size: 1.6rem; }
    #main-banner > aside, #sub-banner > aside, #global-banner > aside {
      width: initial;
      left: 15px;
      right: 15px;
      bottom: 70px; }
      #main-banner > aside a, #sub-banner > aside a, #global-banner > aside a {
        letter-spacing: 2px;
        padding: 10px 0px;
        font-size: 14px;
        font-size: 1.4rem; }
      #main-banner > aside > form dl input, #sub-banner > aside > form dl input, #global-banner > aside > form dl input {
        font-size: 14px;
        font-size: 1.4rem;
        letter-spacing: 0px;
        width: 100%; } }
        
/*categorys*/
#categories * {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#categories {
  display: block;
  position: relative;
  overflow: hidden;
  background: #000 url(/img/old-man-web.jpg) 0 0 no-repeat;
  
}
  #categories .category {
    display: table-cell;
    width: calc(100%/ 5);
    float: left;
    height: 100%;
    padding: 0 20px;
    position: relative; }
    #categories .category figure {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      background: #1b1b1b; }
      #categories .category figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.6; }
    #categories .category article {
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      }
      #categories .category article span {
        font-size: 15px;
        font-size: 1.5rem;
        display: block;
        color: #fff;
        margin: 0 0 15px;
        font-weight: 600;
        color: #fff;}
      #categories .category article h3 {
        font-size: 18px;
        font-size: 1.8rem;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        letter-spacing: 4px;
        color: #fff;
        margin: 0 0 20px; }
      #categories .category article p {
        opacity: 0;
        pointer-events: none;
        color: white;
        }
  #categories:hover .category {
    width: 15%; }
   #categories .category:last-of-type{
     width: calc( 100% / 5)  !important;
     position: absolute;
     right: 0;
   }
   #categories:hover article{
     position: absolute;
     width: calc(40vw - 50px);
     top: 50%;
     transform: translateY(-50%);
     right: 0;
   }
   #categories:hover .category:last-of-type{
     width: 15%  !important;
   }
   #categories:hover .category:last-of-type:hover{
     width:40%  !important;
   }
    #categories:hover .category article {
      opacity: 0;
      }
    #categories:hover .category:hover {
      width: 40%; }
      #categories:hover .category:hover article {
        opacity: 1;
        }
      #categories:hover .category:hover figure img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }
      #categories:hover .category:hover p {
        display: block;
        opacity: 1;
        pointer-events: initial; 
        color: white;
      }
  @media (max-width: 991px) {
    #categories .category:nth-of-type(5), #categories .category:nth-of-type(4) {
      display: none; }
    #categories .category {
      width: calc(100%/ 3); }
    #categories:hover .category {
      width: 25%; }
      #categories:hover .category:hover {
        width: 50%; } }
  @media (max-width: 768px) {
    #categories .category {
      width: 100%;
      height: calc(100% / 3);
      text-decoration: none;} 
    #categories:hover .category:hover{
         width: 100% !important;
       }
       #categories:hover .category{
         width: 100% !important;
       }
       #categories:hover article{
         width: 100%;
       }
       #categories .category article{
         opacity: 1;
       }
       #categories:hover article{
         position: relative;
         right: initial;
       }
       #categories .category article p{
         opacity: 1;
       }
  }